<div>
  <h2>Count Non Mutator</h2>
  Click here to update the count. (component's count: {{count}})
</div>
<div>
  {{! with 2 top-level divs, no way to know which element should get the attributes bound
      onto it, so they are not bound onto either one. (still up in the air a bit) }}
</div>
